.cookieConsent {
    position: fixed;
    width: 100vw;
    top: 50px;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(90deg, rgb(248, 238, 185) 0%, rgb(236, 248, 153) 100%);
}

.cookieConsentMobile {
    position: fixed;
    justify-content: left;
    width: 96vw;
    top: 50px;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(90deg, rgb(248, 238, 185) 0%, rgb(236, 248, 153) 100%);
    }

.cookieConsent p{
    padding-left: 10vw;
    padding-right: 10vw;
}  

.cookieConsentMobile p{
    padding-left: 10vw;
    padding-right: 10vw;
}