.vertical-timeline-element--work button{
    background-color: rgb(232, 232, 232);
    border-color: rgb(167, 167, 167);
    padding: 8px;
    border-radius: 8px;
    transition: all 0.3s ease-out;
}

.vertical-timeline-element--work button:hover {
    box-shadow: 3px 0px 16px 5px rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.vertical-timeline-element--work button {
box-shadow: 4px 4px 4px 4px rgba(67, 67, 67, 0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}